.body {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.fa-cart-shopping {
    color: #281908;
    font-size: 1.2em;
}

.fa-solid {
    margin: 0 0.3em;
}

.fa-xmark {
    background-color: #fefefe;
    color: #281908;
    border: 0;
    font-size: 1.8em;
    margin: 0.3em;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex: 1;
}

.navbar {
    background-color: #fefefe;
    border-bottom: #281908 0.3em solid;
    height: 4em;
}

.icon-cart{
   padding: 0.4em
}

#articulos {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 5em;
}

.offcanvas {
    max-width: 70%;
}

.card {
    width: 19em;
    margin: 1em;
    background-color: #fefefe;
}

.card-img-top {
    height: 15em;
    border: 0;
}

#precio {
    display: inline;
}

.card-body {
    border-bottom: #281908 0.2em solid;
    border-top: #281908 0.1em solid;
}

.card-texto {
    margin-bottom: 2em;
    height: 10em;
}

.button {
    background-color: #281908;
    color: #fefefe;
    width: 100%;
    justify-content: center;
    margin: auto;
    display: block;
    text-align: center;
    height: 2em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3em;
    padding-top: 0.2em;
    border: 0;
    text-transform: uppercase;
}

.button-secundario {
    background-color: #f4f4f4;
    color: #281908;
    width: 100%;
    justify-content: center;
    margin: auto;
    display: block;
    text-align: center;
    height: 2em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3em;
    padding-top: 0.2em;
    border: 0;
    text-transform: uppercase;
    border: #281908 0.1em solid;
    margin-top: 0.2em;
}

.footer {
    background-color: #fefefe;
    height: 8em;
    border-top: 0.2em solid #281908;
}